<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>

    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
    
    <input id="commnad-open-submit"  type="button" value="open"/>
    <input id="commnad-close-submit"  type="button" value="close"/>
    <input id="commnad-readone-submit"  type="button" value="read-one"/>
    <input id="commnad-readmult-submit"  type="button" value="read-mult"/>
    
</body>
<script>
    var roomName = "{{ room_name|escapejs }}";

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/rfid/' + roomName + '/');

    chatSocket.onmessage = async function(e) {
        var data = await JSON.parse(e.data);
        var message = data['message'];

        if(message!="open" && (message!="close" && (message!="read-one" && (message!="read-mult" && message!="stop"))))
        {
          document.querySelector('#chat-log').value += (message + '\n');
        }

        
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick =async function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        await chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
    //operaciones para activar el rfid desde la web
    

     
    document.querySelector('#commnad-open-submit').onclick =async function(e) {
        
        var comando = this.value;
        await chatSocket.send(JSON.stringify({
            'message': comando
        }));
        //alert("Hola open")
    };

    document.querySelector('#commnad-close-submit').onclick =async function(e) {
        
        var comando = this.value;
        await chatSocket.send(JSON.stringify({
            'message': comando
        }));

        //alert("Hola close")
    };

     document.querySelector('#commnad-readone-submit').onclick =async function(e) {
        
        var comando = this.value;
        await chatSocket.send(JSON.stringify({
            'message': comando
        }));
       // alert("Hola read one")
    };
    
     document.querySelector('#commnad-readmult-submit').onclick =async function(e) {
        
         var comando = this.value;
       // console.log(comando)
        await chatSocket.send(JSON.stringify({
            'message': comando
        }));
       
        
       if (comando=="stop") 
       {
          document.querySelector('#commnad-readmult-submit').value="read-mult";
       }
       else
        {
            document.querySelector('#commnad-readmult-submit').value="stop";

       }
        
     
    };

</script>
</html>