{% extends 'base.html' %}

{% block title %}Bienes responsable{% endblock %}

{% block body_block %}

<div class="container-fluid">
    <table class="table table-sm table-bordered  table-responsive-xl" id="tb_bienes">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Codigo Patrimonial</th>
                <th scope="col">Codigo Interno</th>
                <th scope="col">Tipo de bien</th>
                <th scope="col">Detalle tecnico</th>
                <th scope="col">Fecha de Adquisicion</th>
                <th scope="col">Estado</th>
                <th scope="col">Valor del bien</th>
                <th scope="col">Usuario</th>
                <th scope="col">Existe?</th>
            </tr>
        </thead>
        <tbody>
            {% for bien in bienes_data %}
            <tr>

                <td>
                    {{bien.id}}
                </td>
                <td>
                    {{bien.bien_universidad.CODIGO_ACTIVO}}
                </td>
                <td>
                    {{bien.bien_universidad.ITEM_BIEN}}
                </td>
                <td>
                    {{bien.bien_universidad.TIPO_BIEN}}
                </td>
                <td>
                    {{bien.bien_universidad.DESCRIPCION}}
                </td>
                <td>
                    {{bien.bien_universidad.FECHA_COMPRA}}
                </td>
                <td>
                    {{bien.bien_universidad.ESTADO_ACTUAL}}
                </td>
                <td>
                    {{bien.bien_universidad.VALOR_INICIAL}}
                </td>
                <td>
                    {{bien.bien_universidad.EMPLEADO_RESPONSABLE}}
                </td>
                <td>
                    En espera...
                </td>

            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>

<div class="container-fluid">
    {% if estado == 1 %}

    <input id="commnad-open-submit" type="button" value="open" style="display: none;" />
    <input id="commnad-close-submit" type="button" value="close" style="display: none;" />
    <input id="commnad-readone-submit" type="button" value="Escanear" class="btn btn-primary" />
    <input id="commnad-readmult-submit" type="button" value="read-mult" style="display: none;" />
    <input id="sent_verification" type="button" value="Guardar verificacion" class="btn btn-primary" />

    {% else %}

    <label class="warning">*No existe una programacion de verificacion o estan activos multiples verificaciones</label>

    {% endif %}
</div>

<div class="container-fluid">
    <form id="submit_verification" action="../bienes/process_verification" method="post">
        {% csrf_token %}

        <input type="hidden" id="id_verificacion" name="check_program" value="{{verificacion.id}}">
        <input type="hidden" id="id_data_send" name="data_verifications" value="">
    </form>
</div>
<script>
    const id_verificacion = '{{verificacion.id}}';
    const actions = {
        OPEN: 'Open',
        CLOSE: "Close",
        READ_ONE: "ReadOne",
        KEEP_READING: "KeepReading",
        STOP: "Stop"
    }
    let roomName = "{{ room_name|escapejs }}";
    console.log(`roomName: ${roomName}`)


    let chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/rfid/' + roomName + '/');

    chatSocket.onmessage = onSocketMessage;

    chatSocket.onclose = function (responseMessage) {
        console.error('Chat socket closed unexpectedly');
    };

    // document.querySelector('#chat-message-input').focus();
    // document.querySelector('#chat-message-input').onkeyup = function(e) {
    //     if (e.keyCode === 13) {  // enter, return
    //         document.querySelector('#chat-message-submit').click();
    //     }
    // };

    // document.querySelector('#chat-message-submit').onclick =async function(e) {
    //     let messageInputDom = document.querySelector('#chat-message-input');
    //     let message = messageInputDom.value;
    //     await chatSocket.send(JSON.stringify({
    //         'message': message
    //     }));

    //     messageInputDom.value = '';
    // };
    //operaciones para actilet el rfid desde la web

    function initBindings() {
        document.querySelector('#commnad-open-submit').onclick = async function (e) {
            let comando = this.value;
            await chatSocket.send(JSON.stringify({
                'action': actions.OPEN
            }));
        };

        document.querySelector('#commnad-close-submit').onclick = async function (e) {
            let comando = this.value;
            await chatSocket.send(JSON.stringify({
                'action': actions.CLOSE
            }));
        };

        document.querySelector('#commnad-readone-submit').onclick = async function (e) {
            let comando = this.value;
            await chatSocket.send(JSON.stringify({
                'action': actions.READ_ONE
            }));
            // esta programaci'on es  para la simulacion...debe ir en guardar verificacion
        };

        document.querySelector('#commnad-readmult-submit').onclick = async function (e) {
            let comando = this.value;
            await chatSocket.send(JSON.stringify({
                'action': actions.KEEP_READING
            }));

            // if (comando == "stop") {
            //   document.querySelector('#commnad-readmult-submit').value = "read-mult";
            // }
            // else {
            //   document.querySelector('#commnad-readmult-submit').value = "stop";
            // }
        };

        $(document.body).on("click", "#sent_verification", sendVerification);
    }

    async function onSocketMessage(responseMessage) {
        console.log(`From service: ${responseMessage.data}`)
        let data = await JSON.parse(responseMessage.data);
        let response = data['message'];
        if (Object.values(actions).includes(response.action)) {
            return false;
        }

        let responseread = response;
        let encontrado = 0;

        $("#tb_bienes tbody tr").each(function (index) {
            let codigo_bien, estado_verificacion;
            encontrado = 0;
            $(this).children("td").each(function (index2) {
                codigo_bien = "";
                if (index2 == 1) {
                    codigo_bien = $(this).text().trim();
                    if (response.filter(b => b.EPC == codigo_bien).length > 0) {
                        encontrado = 1;
                        console.log(`${codigo_bien} encontrado`)
                    }
                }
                switch (index2) {
                    case 9:
                        if (encontrado == 1) {
                            console.log(`encontrado`)
                            $(this).html("Existe")
                            encontrado = 0;
                        }

                        break;
                }
            })
        })
    }

    function sendVerification() {
        let lista_bienes = [];
        $("#tb_bienes tbody tr").each(function (index) {

            let id_bien, estado_verificacion;

            $(this).children("td").each(function (index2) {
                switch (index2) {
                    case 0:
                        id_bien = $(this).text();

                        break;
                    case 9:
                        estado_verificacion = $(this).text()

                        break;
                }
            });

            const item_bien = { "id": id_bien.trim(), "estado": estado_verificacion.trim(), "obs": "todo normal" }
            lista_bienes.push(item_bien);
        })

        showLoading(true);
        postData('../bienes/process_verification', {
            id_verificacion,
            lista_bienes
        })
            .catch((e) => {
                console.error(e);
            })
            .finally(() => {
                showLoading(false);
            });
    }

    initBindings();
</script>

{% endblock %}