:root{
  --blue1:#0063ae;
  --blue2:#0083E5;
  --white: white;
 }
 .f-r{
    float: right;
}
/*stard menu*/
a:active,
a:hover {
  outline: 0;
}
body{
  font-family: 'Lato', sans-serif;
}
a {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  background: transparent;  
}
a, .navbar-toggle,.dpgable-menu{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; 
}
a:hover,
a:focus {
  color: #063847;  
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.dpgable {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dpgable-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  visibility: visible;
  padding: 5px 0;   
  margin: 2px 0 0;
  display: none;
  list-style: none;
  font-size: 14px;     
  background-color: #063847;
  border-radius: 0 0 0 4px;
  background-clip: padding-box;  
}
.dpgable-menu .dpgable-menu {    
  min-width: 160px;
  padding: 0;
  display: none;
  margin: 2px 0 0 40px;
  list-style: none;
  font-size: 14px;
  opacity: 0;
  background-color: #063847;
  border-radius: 0 0 0 4px;
  background-clip: padding-box;  
}
@media (min-width: 768px) {
  .dpgable-menu {    
    top: 200%;
    left: 0;    
    visibility: hidden;
    float: left;
    display: block;
    min-width: 160px;
    padding: 5px 0;    
    opacity: 0;
  }
  .dpgable-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    left: 30%;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #063847 transparent;
  }  
  .dpgable-menu .dpgable-menu {    
    top: -3px;
    left: 120%;
    display: block;
    float: left;
    z-index: 1000;
    margin: 2px 0 0;
    visibility: hidden;
    opacity: 0;
  }
  .dpgable-menu .dpgable-menu:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #0e6e8c transparent transparent;
  }
  .dpgable:hover > .dpgable-menu {
    opacity: 1 ;
    top: 100% ;    
    visibility: visible ;
  }
  .dpgable-menu .dpgable:hover > .dpgable-menu {
    opacity: 1;  
    top: -3px;
    left: 100%;
    padding: 5px 0;
    visibility: visible;
  }
  .navbar-right .dpgable-menu {
    left: auto;
    right: 0;
  }  
  .navbar-right .dpgable-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    left: auto;
    right: 30%;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #063847 transparent;
  } 
  .navbar-header {
    float: left;
  }
  .menu-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .menu-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .menu-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .menu-collapse,
  .navbar-static-top .menu-collapse,
  .navbar-fixed-bottom .menu-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .menu-nav {
    float: left;
    margin: 0 !important;
  }
  .menu-nav > li {
    float: left;
  }
  .menu-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .menu-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .navbar-right {
    float: right !important;
  }
}


.dpgable-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #0e6e8c;
}
.dpgable-menu > li {
  position: relative;
}
.dpgable-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #fff;  
  line-height: 1.42857143;
  white-space: nowrap;
  text-decoration: none;
}
.dpgable-menu > li > a:hover,
.dpgable-menu > li > a:focus,
.dpgable-menu > .active > a,
.dpgable-menu > .active > a:hover,
.dpgable-menu > .active > a:focus {      
  background: #0e6e8c;
  color: #fff;
}
.open > .dpgable-menu {  
  display: block;
  opacity: 1;
}
.menu {
  position: relative;
  min-height: 52px;
  background-color: var(--blue1);
}
.menu-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.menu-collapse.in {
  overflow-y: auto;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: none;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.menu-nav {
  margin: 7.5px -15px;
  list-style: none;
  padding-left: 0;
}
.navbar-nav > li {
  position: relative;
  display: block;
}
.menu-nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 20px;  
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 767px) {
  .menu-nav .open .dpgable-menu{
    position: static;
    float: none;
    width: auto;
    margin-top: 0;    
    border: 0;
    box-shadow: none;
  }
  .menu-nav .open .dpgable-menu > li > a,
  .menu-nav .open .dpgable-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dpgable-menu > li > a{
    line-height: 20px;
  }
  .menu-nav .open .dpgable-menu > li > a:hover,
  .menu-nav .open .dpgable-menu > li > a:focus {
    background-image: none;
  }
}
.menu-nav > li > .dpgable-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}


.menu .menu-nav > li > a:hover,
.menu .menu-nav > li > a:focus {
  background-color: transparent;
  color: #fff;
  -webkit-box-shadow: 0 -25px 0 #063847 inset, 0 25px 0 #063847 inset, 100px 0 0 #063847 inset, -100px 0 0 #063847 inset;
  -moz-box-shadow: 0 -25px 0 #063847 inset, 0 25px 0 #063847 inset, 100px 0 0 #063847 inset, -100px 0 0 #063847 inset;
  -ms-box-shadow: 0 -25px 0 #063847 inset, 0 25px 0 #063847 inset, 100px 0 0 #063847 inset, -100px 0 0 #063847 inset;
  box-shadow: 0 -25px 0 #063847 inset, 0 25px 0 #063847 inset, 100px 0 0 #063847 inset, -100px 0 0 #063847 inset;
}
.menu .menu-nav > .active > a,
.menu .menu-nav > .active > a:hover,
.menu .menu-nav > .active > a:focus {
  color: #fff;
  background-color: #063847;
}
.menu .navbar-toggle {
  border-color: #fff;  
}
.menu .navbar-toggle:hover,
.menu .navbar-toggle:focus {
  background-color: #063847;
  border-color: #063847;
}
.menu .navbar-toggle .icon-bar {
  background-color: #fff;
}
/*reset*/

button{
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner{
  border: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}*/
.clearfix:before,
.clearfix:after,
.navbar-header:before,
.navbar-header:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}
.clearfix:after,
.navbar-header:after,
.nav:after,
.navbar:after,
.navbar-collapse:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}
/*end menu*/

/*stard login*/
.form-elegant .font-small {
font-size: 0.8rem; }

.form-elegant .z-depth-1a {
-webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
-webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }
.container-login{
height: 100vh;
}
.card-login{
 margin-top: 6em;
}
/*end login*/


/*pruebas*/
.m1{
  background-color: red;
}
.m2{
  background-color: blue;
}
.m3{
  background-color: yellow;
}
.m4{
  background-color: teal;
}
.form-control-smm {
  height: calc(1.3em + 0.3rem + 1.7px);
  padding: 0.20rem 0.3rem;
  font-size: 0.87rem;
  line-height: 1.3;
  border-radius: 0.2rem;
}

.warning
{
  font-size: 0.87rem;
  color: red;


}