{% extends 'base.html' %}

{% block title %}Bienes responsable{% endblock %}

{% block body_block %}

<div class="container">
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Trabajadores
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for trabajador in trabajadores_cargo %}
                <a class="dropdown-item" href="#"
                    onclick='onTrabajadorChange("{{trabajador.id}}");'>{{trabajador.nombres}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered  table-responsive-xl" id="tb_bienes">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Codigo Patrimonial</th>
                    <th scope="col">Codigo Interno</th>
                    <th scope="col">Tipo de bien</th>
                    <th scope="col">Detalle tecnico</th>
                    <th scope="col">Fecha de Adquisicion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Valor del bien</th>
                    <th scope="col">Usuario</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="row justify-content-end">
        <div class="col-2">
            <a id="btn_preview" href="/reportes/bienes-preview/{{idcargotrabajador}}" class="btn btn-outline-primary"
                role="button">Previsualizacion</a>
        </div>
        <div class="col-2">
            <form action="/reportes/bienes/{{idcargotrabajador}}/pdf" method="POST" id="form-descargar-reporte">
                {% csrf_token %}
                <input id="commnad-generate-report" type="button" value="Generar reporte" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>

<script>
    function initBindings() {
        $(document.body).on("click", "#commnad-generate-report", generateReport);
        $("#btn_preview").hide();
        $("#form-descargar-reporte").hide();
    }

    function generateReport() {
        showLoading(true);
        $("#form-descargar-reporte").submit();
    }

    function onTrabajadorChange(idCargoTrabajador) {
        showLoading(true);
        getData('/reportes/bienes/' + idCargoTrabajador)
            .then((response) => {
                console.log(response);
                $('#tb_bienes > tbody > tr').remove()
                const bienes = response.bienes;
                let trs = '';
                for (let index = 0; index < bienes.length; index++) {
                    const bien = bienes[index];
                    $('#tb_bienes > tbody:last-child')
                        .append(`
                                <tr>
                                <td>
                                    ${bien.id}
                                </td>
                                <td>
                                    ${bien.CODIGO_ACTIVO}
                                </td>
                                <td>
                                    ${bien.ITEM_BIEN}
                                </td>
                                <td>
                                    ${bien.TIPO_BIEN}
                                </td>
                                <td>
                                    ${bien.DESCRIPCION}
                                </td>
                                <td>
                                    ${bien.FECHA_COMPRA}
                                </td>
                                <td>
                                    ${bien.ESTADO_ACTUAL}
                                </td>
                                <td>
                                    ${bien.VALOR_INICIAL}
                                </td>
                                <td>
                                    ${bien.EMPLEADO_RESPONSABLE}
                                </td>
                            </tr>
                    `);
                }

                $("#btn_preview").attr("href", `/reportes/bienes-preview/${idCargoTrabajador}`);
                $("#btn_preview").show();
                $('#form-descargar-reporte').attr('action', `/reportes/bienes/${idCargoTrabajador}/pdf`);
                $("#form-descargar-reporte").show();
            })
            .catch((e) => {
                debugger;
                console.error(e);
            })
            .finally(() => {
                showLoading(false);
            });


        //change href
        //change form action
    }

    initBindings();
</script>

{% endblock %}