{% load static %}

<!DOCTYPE html>

<html>

<head>
    <title>Inventario - {% block title %} Gestion de inventario {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/pdfStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    <style>
        .container img {
            max-height: 150px;
            max-width: 150px;
        }

        .titles {
            text-align: center;
        }
    </style>
</head>

<body>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>


    <div>
        <div class="container">
            <div class="row">
                <div class="col-12"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-2">
                    <img src="{% static 'images/unamba-logo.jpg' %}">
                </div>
                <div class="col-lg-8 titles">
                    <h3>UNIVERSIDAD NACIONAL MICAELA BASTIDAS DE APURIMAC</h3>

                    <h4>ESCUELA ACADÉMICO PROFESIONAL DE INGENIERÍA INFORMÁTICA Y SISTEMAS</h4>

                    <h5>REPORTE DE INVENTARIO</h5>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="row">
                <aside>FECHA Y HORA: {{verificacion_fecha}}</aside>
            </div>
            <div class="row">

                <table class="table table-sm table-bordered  table-responsive-xl" id="tb_bienes">
                    <thead>
                        <tr>
                            <th scope="col">Nro</th>
                            <th scope="col">Codigo Patrimonial</th>
                            <th scope="col">Nombre Local</th>
                            <th scope="col">Bien Asignado a</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Fecha de Adquisicion</th>
                            <th scope="col">Condicion</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Verificacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bien in bienes %}
                        <tr>
                            <td>
                                {{forloop.counter}}
                            </td>
                            <td>
                                {{bien.bien_universidad.CODIGO_ACTIVO}}
                            </td>
                            <td>
                                {{bien.bien_universidad.ITEM_BIEN}}
                            </td>
                            <td>
                                {{bien.bien_universidad.EMPLEADO_RESPONSABLE}}
                            </td>
                            <td>
                                {{bien.bien_universidad.DESCRIPCION}}
                            </td>
                            <td>
                                {{bien.bien_universidad.FECHA_COMPRA}}
                            </td>
                            <td>
                                {{bien.bien_universidad.ESTADO_ACTUAL}}
                            </td>
                            <td>
                                {{bien.bien_universidad.VALOR_INICIAL}}
                            </td>
                            <td>
                                {{bien.bien_universidad.TIPO_BIEN}}
                            </td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>