{% load static %}

<!DOCTYPE html>

<html>

<head>
    <title>Inventario - {% block title %} Gestion de inventario {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
</head>

<body>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <header>
        <nav class="menu">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse menu-collapse" id="menu">
                <ul class="menu-nav">
                    <li class=""><a href="/">Inicio</a></li>
                    <li><a href="/admin">Administracion</a></li>
                    <li><a href="/reportes/bienes">Reportes</a></li>
                </ul>
                <form name="frmClose" action="/logout">
                    <button type="submit" class="btn btn-info btn-sm f-r mt-2"><b class="font-wn">Salir</b></button>
                </form>
            </div>
        </nav>
    </header>

    <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </div>
        </div>
    </div>

    <div>
        {% block body_block %}{% endblock %}
    </div>

    <!-- 
    <hr />

    <div>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="/rango/restricted/">Restricted Page</a></li>
            <li><a href="/rango/logout/">Logout</a></li>
            <li><a href="/rango/add_category/">Add a New Category</a></li>
            {% else %}
            <li><a href="/rango/register/">Register Here</a></li>
            <li><a href="/rango/login/">Login</a></li>
            {% endif %}

            <li><a href="/rango/about/">About</a></li>
        </ul>
    </div> -->
</body>

</html>