{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body_block %}

<div class="container-fluid pt-4 pb-4 pl-4">
  <form action="rfid/" method="POST">
    {% csrf_token %}
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Default input -->
      <label for="inputEmail3" class="col-sm-1 col-form-label form-control-smm">ENTIDAD</label>
      <select class="form-control form-control-smm col-md-4">
        <option>UNIVERSIDAD NACIONAL MICAELA BASTIDAS DE APURIMAC</option>

      </select>
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Default input -->
      <label for="inputEmail3" class="col-sm-1 col-form-label form-control-smm">SEDE</label>
      <select class="form-control form-control-smm col-md-4" id="exampleFormControlSelect1">
        <option value="0">Selecione una sede...</option>
        {% for sede in sedes %}
        <option value="{{sede.id}}">{{sede.nombre_sede}}</option>

        {% endfor%}
      </select>
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Default input -->
      <label for="inputEmail3" class="col-sm-1 col-form-label form-control-smm">LOCAL</label>
      <select class="form-control form-control-smm col-md-4" id="exampleFormControlSelect2">
        <option>Selecciones local..</option>
        <option>TAMBURCO</option>
      </select>
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Default input -->
      <label for="inputEmail3" class="col-sm-1 col-form-label form-control-smm">PABELLÓN</label>
      <select class="form-control form-control-smm col-md-4" id="exampleFormControlSelect3">
        <option>LOCAL ACADEMICO PATIBAMBA</option>
        <option>TAMBURCO</option>
      </select>
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Default input -->
      <label for="inputEmail3" class="col-sm-1 col-form-label form-control-smm">OFICINA</label>
      <select class="form-control form-control-smm col-md-4" id="exampleFormControlSelect4" name="office">
        <option>LOCAL ACADEMICO PATIBAMBA</option>
        <option>TAMBURCO</option>
      </select>
    </div>

    <div class="form-group row">
      <!-- Default input -->
      <label for="inputEmail3" class="col-sm-1 col-form-label form-control-smm">TRABAJADOR-CARGO</label>
      <select class="form-control form-control-smm col-md-4" id="exampleFormControlSelect5" name="worked">
        <option>LOCAL ACADEMICO PATIBAMBA</option>
        <option>TAMBURCO</option>
      </select>
    </div>
    <!-- Grid row -->
    <div class="form-group row">
      <button type="submit"> Inventariar </button>
    </div>
  </form>
</div>

<script type="text/javascript">

  $("#exampleFormControlSelect1").change(
    function () {

      $.post("dependencia/locales", { sede: this.value, option: 's' }, function (data) {
        $("#exampleFormControlSelect2").empty();

        $("#exampleFormControlSelect2").append('<option value="0">Selecione</option>')


        $.each(data, function (i, item) {
          //console.log(item.pk+"->"+item.fields.nombre_local)
          $("#exampleFormControlSelect2").append('<option value="' + item.pk + '">' + item.fields.nombre_local + '</option>')


          //console.log(item.pk+"->"+item.model)

        })

      }, "json")

    })

  $("#exampleFormControlSelect2").change(
    function () {

      $.post("dependencia/locales", { local: this.value, option: 'p' }, function (data) {
        $("#exampleFormControlSelect3").empty();

        $("#exampleFormControlSelect3").append('<option value="0">Selecione</option>')


        $.each(data, function (i, item) {

          $("#exampleFormControlSelect3").append('<option value="' + item.pk + '">' + item.fields.nombre_pabellon + '</option>')

        })

      }, "json")

    })

  $("#exampleFormControlSelect3").change(
    function () {

      $.post("dependencia/locales", { pabellon: this.value, option: 'o' }, function (data) {
        $("#exampleFormControlSelect4").empty();

        $("#exampleFormControlSelect4").append('<option value="0">Selecione</option>')


        $.each(data, function (i, item) {

          //console.log(item)

          $("#exampleFormControlSelect4").append('<option value="' + item.pk + '">' + item.fields.nombre_oficina + '</option>')

        })

      }, "json")



    })

  $("#exampleFormControlSelect4").change(
    function () {

      $.post("dependencia/cargo", { oficina: this.value }, function (data) {
        $("#exampleFormControlSelect5").empty();

        $("#exampleFormControlSelect5").append('<option value="0">Selecione</option>')


        $.each(data, function (i, item) {

          //console.log(item)

          $("#exampleFormControlSelect5").append('<option value="' + item.id + '">' + item.trabajador + "-" + item.cargo + '</option>')

        })

      }, "json")


    })

</script>

{% endblock %}