{% load static %}

<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <title>Login</title>
</head>

<body>
  <div class="container-fluid blue-gradient container-login ">
    <section class="form-elegant">
      <form action="login" method="POST">
        {% csrf_token %}
        <!-- Grid row -->
        <div class="row justify-content-center">

          <!-- Grid column -->
          <div class="col-md-9 col-lg-7 col-xl-5">

            <!--Form without header-->
            <div class="card card-login">

              <div class="card-body mx-4">

                <!--Header-->
                <div class="text-center">
                  <h3 class="dark-grey-text mb-5"><strong>Inicio de sesión</strong></h3>
                </div>

                <!--Body-->
                <div class="md-form">
                  <input type="text" id="user" name="username" class="form-control">
                  <label for="user">Usuario</label>
                </div>

                <div class="md-form">
                  <input type="password" id="Form-pass1" name="password" class="form-control">
                  <label for="Form-pass1">Contraseña</label>
                </div>
                <div class="text-center mb-3">
                  <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Iniciar</button>
                </div>

              </div>

              <!--Footer-->
              <div class="modal-footer mx-5 pt-3 mb-1">
                <p class="font-small grey-text d-flex justify-content-end">Olvidaste tu contraseña? <a href="#"
                    class="blue-text ml-1">
                    Recuperar</a></p>
              </div>

            </div>
            <!--/Form without header-->

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
      </form>
    </section>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src=" {% static 'js/mdb.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>